.toDo {
    align-items: center;
    max-width: 46.06rem;

}

.toDo+.toDo {
    margin-top: 0.75rem;
}

.toDo {
    color: var(--gray-100);
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    font-size: 0.875rem;
    line-height: 1.4rem;
    padding: 1rem;
    border-radius: 8px;
    flex: 1;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toDo>input[type="checkbox"] {
    appearance: none;
    width: 1.09rem;
    height: 1.09rem;
    min-width: 1.09rem;
    min-height: 1.09rem;
    background-color: transparent;
    cursor: pointer;
    border: 1.5px solid var(--blue);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.toDo>input[type="checkbox"]:checked {
    border: 1.5px solid var(--purple);
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
}

.toDo>input[type="checkbox"]:checked::after {
    content: "\2713";
    font-size: 0.8rem;
    color: var(--gray-100);
    border: none;
    border-radius: 0;
}

.toDo>span {
    margin: 0 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

.toDo>button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.toDo .toDoNotChecked {
    color: var(--gray-100);
}

.toDo .toDoChecked {
    color: var(--gray-300);
    text-decoration: line-through;
}