.wrapper {
    max-width: 46rem;
    display: grid;

    margin: 0 auto;
}

.addTaskLine {
    display: flex;
    height: 3.3749rem;
    margin-top: -1.69rem;
}


.addTaskLine input {
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    margin-right: 0.5rem;
    padding: 1rem;
    color: var(--gray-300);
    flex: 1;
}

.addTaskLine button {
    border-radius: 8px;
    border: 0;
    padding: 1rem;
    background: var(--blue-dark);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}